<div class="container my-5">
    <div class="d-flex justify-content-around">
        <a href="admin/items/add" class="btn btn-primary btn-lg">Add Items</a>
        <a href="admin/items" class="btn btn-secondary btn-lg">Manage Items</a>
        <a href="admin/contestants" class="btn btn-info btn-lg">Manage Contestants</a>
        <a href="admin/create-jury" class="btn btn-success btn-lg">Create Jury Panel</a> <!-- Button to create a jury panel -->
        <a href="admin/view-juries" class="btn btn-secondary btn-lg">View Juries</a>
    </div>
</div>

<style>
    .container {
        text-align: center;
    }

    a.btn {
        width: 200px;
        margin: 0 10px;
        padding: 15px 0;
        text-transform: uppercase;
    }

    a.btn:hover {
        opacity: 0.9;
        transition: opacity 0.2s ease-in-out;
    }
</style>
